USE [master]
GO
/****** Object:  Database [UAF]    Script Date: 15/3/2026 19:54:10 ******/
CREATE DATABASE [UAF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UAF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\UAF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UAF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\UAF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UAF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UAF]
GO
/****** Object:  Table [dbo].[Asignatura]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignatura](
	[Cod_Asignatura] [int] IDENTITY(1,1) NOT NULL,
	[NombreAsignatura] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Cod_Carrera] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[Cod_Asistencia] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Presente] [varchar](5) NOT NULL,
	[Cod_Grupo] [int] NOT NULL,
	[Cod_Estudiante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaAsignatura]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaAsignatura](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Cod_Asignatura] [int] NULL,
	[NombreAnterior] [varchar](20) NULL,
	[NombreNuevo] [varchar](20) NULL,
	[EstadoAnterior] [varchar](20) NULL,
	[EstadoNuevo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaAsistencia]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaAsistencia](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Cod_Asistencia] [int] NULL,
	[PresenteAnterior] [varchar](5) NULL,
	[PresenteNuevo] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaCalificacion]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaCalificacion](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Cod_Calificacion] [int] NULL,
	[NotaAnterior] [decimal](18, 0) NULL,
	[NotaNueva] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaCarrera]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaCarrera](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Cod_Carrera] [int] NULL,
	[NombreAnterior] [varchar](20) NULL,
	[NombreNuevo] [varchar](20) NULL,
	[EstadoAnterior] [varchar](20) NULL,
	[EstadoNuevo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaDocente]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaDocente](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Cod_Docente] [int] NULL,
	[NombreAnterior] [varchar](20) NULL,
	[NombreNuevo] [varchar](20) NULL,
	[ApellidoAnterior] [varchar](20) NULL,
	[ApellidoNuevo] [varchar](20) NULL,
	[EstadoAnterior] [varchar](20) NULL,
	[EstadoNuevo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaEstudiante]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaEstudiante](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Cod_Estudiante] [int] NULL,
	[Matricula_Anterior] [int] NULL,
	[Matricula_Nueva] [int] NULL,
	[Nombre_Anterior] [varchar](20) NULL,
	[Nombre_Nuevo] [varchar](20) NULL,
	[Apellido_Anterior] [varchar](20) NULL,
	[Apellido_Nuevo] [varchar](20) NULL,
	[Estado_Anterior] [varchar](20) NULL,
	[Estado_Nuevo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaGrupo]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaGrupo](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Cod_Grupo] [int] NULL,
	[CodDocenteAnterior] [int] NULL,
	[CodDocenteNuevo] [int] NULL,
	[CupoAnterior] [int] NULL,
	[CupoNuevo] [int] NULL,
	[EstadoAnterior] [varchar](20) NULL,
	[EstadoNuevo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaInscripcion]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaInscripcion](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Cod_Inscripcion] [int] NULL,
	[PeriodoAnterior] [varchar](20) NULL,
	[PeriodoNuevo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaInscripcionDetalle]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaInscripcionDetalle](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Cod_InscripcionDetalle] [int] NULL,
	[AsignaturaAnterior] [int] NULL,
	[AsignaturaNueva] [int] NULL,
	[GrupoAnterior] [int] NULL,
	[GrupoNuevo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaUsuario]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaUsuario](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](10) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](50) NULL,
	[Id_Usuario] [int] NULL,
	[UsernameAnterior] [varchar](20) NULL,
	[UsernameNuevo] [varchar](20) NULL,
	[RolAnterior] [int] NULL,
	[RolNuevo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calificacion]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificacion](
	[Cod_Calificacion] [int] IDENTITY(1,1) NOT NULL,
	[NotaFinal] [decimal](18, 0) NOT NULL,
	[Cod_Grupo] [int] NOT NULL,
	[Cod_Estudiante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Calificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Calificacion] UNIQUE NONCLUSTERED 
(
	[Cod_Estudiante] ASC,
	[Cod_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[Cod_Carrera] [int] IDENTITY(1,1) NOT NULL,
	[NombreCarrera] [varchar](20) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Cod_Facultad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docente]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docente](
	[Cod_Docente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](20) NOT NULL,
	[Edad] [int] NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Docente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[Cod_Estudiante] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [int] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](20) NOT NULL,
	[Edad] [int] NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Cod_Carrera] [int] NOT NULL,
	[Cod_Modalidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facultad]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facultad](
	[Cod_Facultad] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Facultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[Cod_Grupo] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Docente] [int] NULL,
	[Cupo] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[CodigoGrupo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripcion]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion](
	[Cod_Inscripcion] [int] IDENTITY(1,1) NOT NULL,
	[Periodo] [varchar](20) NOT NULL,
	[Fecha_Creacion] [datetime] NOT NULL,
	[Cod_Estudiante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InscripcionDetalle]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InscripcionDetalle](
	[Cod_InscripcionDetalle] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Inscripcion] [int] NOT NULL,
	[Cod_Asignatura] [int] NOT NULL,
	[Cod_Grupo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_InscripcionDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modalidad]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modalidad](
	[Cod_Modalidad] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Modalidad] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Modalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/3/2026 19:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[email] [varchar](20) NOT NULL,
	[Id_Rol] [int] NOT NULL,
	[Estado] [varchar](10) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asistencia] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Asignatura]  WITH CHECK ADD FOREIGN KEY([Cod_Carrera])
REFERENCES [dbo].[Carrera] ([Cod_Carrera])
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD FOREIGN KEY([Cod_Grupo])
REFERENCES [dbo].[Grupo] ([Cod_Grupo])
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_Asistencia_Estudiante] FOREIGN KEY([Cod_Estudiante])
REFERENCES [dbo].[Estudiante] ([Cod_Estudiante])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [FK_Asistencia_Estudiante]
GO
ALTER TABLE [dbo].[Calificacion]  WITH CHECK ADD FOREIGN KEY([Cod_Grupo])
REFERENCES [dbo].[Grupo] ([Cod_Grupo])
GO
ALTER TABLE [dbo].[Calificacion]  WITH CHECK ADD  CONSTRAINT [FK_Calificacion_Estudiante] FOREIGN KEY([Cod_Estudiante])
REFERENCES [dbo].[Estudiante] ([Cod_Estudiante])
GO
ALTER TABLE [dbo].[Calificacion] CHECK CONSTRAINT [FK_Calificacion_Estudiante]
GO
ALTER TABLE [dbo].[Carrera]  WITH CHECK ADD FOREIGN KEY([Cod_Facultad])
REFERENCES [dbo].[Facultad] ([Cod_Facultad])
GO
ALTER TABLE [dbo].[Docente]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD FOREIGN KEY([Cod_Carrera])
REFERENCES [dbo].[Carrera] ([Cod_Carrera])
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD FOREIGN KEY([Cod_Modalidad])
REFERENCES [dbo].[Modalidad] ([Cod_Modalidad])
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [FK_DocenteGrupo] FOREIGN KEY([Cod_Docente])
REFERENCES [dbo].[Docente] ([Cod_Docente])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [FK_DocenteGrupo]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD FOREIGN KEY([Cod_Estudiante])
REFERENCES [dbo].[Estudiante] ([Cod_Estudiante])
GO
ALTER TABLE [dbo].[InscripcionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_InscripcionDetalle_Asignatura] FOREIGN KEY([Cod_Asignatura])
REFERENCES [dbo].[Asignatura] ([Cod_Asignatura])
GO
ALTER TABLE [dbo].[InscripcionDetalle] CHECK CONSTRAINT [FK_InscripcionDetalle_Asignatura]
GO
ALTER TABLE [dbo].[InscripcionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_InscripcionDetalle_Grupo] FOREIGN KEY([Cod_Grupo])
REFERENCES [dbo].[Grupo] ([Cod_Grupo])
GO
ALTER TABLE [dbo].[InscripcionDetalle] CHECK CONSTRAINT [FK_InscripcionDetalle_Grupo]
GO
ALTER TABLE [dbo].[InscripcionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_InscripcionDetalle_Inscripcion] FOREIGN KEY([Cod_Inscripcion])
REFERENCES [dbo].[Inscripcion] ([Cod_Inscripcion])
GO
ALTER TABLE [dbo].[InscripcionDetalle] CHECK CONSTRAINT [FK_InscripcionDetalle_Inscripcion]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([Id_Rol])
REFERENCES [dbo].[Rol] ([Id_Rol])
GO
/****** Object:  StoredProcedure [dbo].[ActualizarAsignatura]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ActualizarAsignatura]
    @Cod_Asignatura INT,
    @NombreAsignatura VARCHAR(20),
    @Estado VARCHAR(20),
    @Cod_Carrera INT
   
AS
BEGIN
    UPDATE Asignatura
    SET 
        NombreAsignatura = @NombreAsignatura,
        Estado = @Estado,
        Cod_Carrera = @Cod_Carrera
        
    WHERE Cod_Asignatura = @Cod_Asignatura
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarAsistencia]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarAsistencia]
    @Cod_Asistencia INT,
    @Presente VARCHAR(5),
    @Cod_Grupo INT,
    @Cod_Estudiante int
AS
BEGIN
    UPDATE Asistencia
    SET
        Presente = @Presente,
        Cod_Grupo = @Cod_Grupo,
        Cod_Estudiante = @Cod_Estudiante
    WHERE Cod_Asistencia = @Cod_Asistencia
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCalificacion]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarCalificacion]
    @Cod_Calificacion INT,
    @NotaFinal DECIMAL,
    @Cod_Grupo INT,
    @Cod_Estudiante Int
AS
BEGIN
    UPDATE Calificacion
    SET
        NotaFinal = @NotaFinal,
        Cod_Grupo = @Cod_Grupo,
        Cod_Estudiante = @Cod_Estudiante
    WHERE Cod_Calificacion = @Cod_Calificacion
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCarrera]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarCarrera]
    @Cod_Carrera INT,
    @NombreCarrera VARCHAR(20),
    @Estado VARCHAR(20),
    @Cod_Facultad INT
   
AS
BEGIN
    UPDATE Carrera
    SET 
        NombreCarrera = @NombreCarrera,
        Estado = @Estado,
        Cod_Facultad = @Cod_Facultad
        
    WHERE Cod_Carrera = @Cod_Carrera
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDocente]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarDocente]
    @Cod_Docente INT,
    @Nombre VARCHAR(20),
    @Apellido VARCHAR(20),
    @Edad INT,
    @Direccion VARCHAR(50),
    @Estado varchar(20),
    @Id_Usuario INT
AS
BEGIN
    UPDATE Docente
    SET
        Nombre = @Nombre,
        Apellido = @Apellido,
        Edad = @Edad,
        Direccion = @Direccion,
        Estado = @Estado,
        Id_Usuario = @Id_Usuario
    WHERE Cod_Docente = @Cod_Docente
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstudiante]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEstudiante]
    @Cod_Estudiante INT,
    @Matricula INT,
    @Nombre VARCHAR(20),
    @Apellido VARCHAR(20),
    @Edad INT,
    @Direccion VARCHAR(50),
    @Estado VARCHAR(20),
    @Id_Usuario INT,
    @Cod_Carrera INT,
    @Cod_Modalidad INT
AS
BEGIN
    UPDATE Estudiante
    SET
        Matricula = @Matricula,
        Nombre = @Nombre,
        Apellido = @Apellido,
        Edad = @Edad,
        Direccion = @Direccion,
        Estado = @Estado,
        Id_Usuario = @Id_Usuario,
        Cod_Carrera = @Cod_Carrera,
        Cod_Modalidad = @Cod_Modalidad
    WHERE Cod_Estudiante = @Cod_Estudiante
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarFacultad]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarFacultad]
    @Cod_Facultad INT,
    @Nombre VARCHAR(20),
    @Estado varchar(20)
AS
BEGIN
    UPDATE Facultad
    SET Nombre = @Nombre,
        Estado = @Estado
    WHERE Cod_Facultad = @Cod_Facultad
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarGrupo]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ActualizarGrupo]
    @Cod_Grupo INT,
    
    @Cod_Docente INT,
    @Cupo INT,
    @Estado varchar(20),
    @CodigoGrupo INT
AS
BEGIN
    update Grupo
    set
        
        
        Cod_Docente = @Cod_Docente,
        Cupo = @Cupo,
        Estado = @Estado,
        CodigoGrupo = @CodigoGrupo
        where Cod_Grupo = @Cod_Grupo
    
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarInscripcion]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarInscripcion]
    @Cod_Inscripcion INT,
    @Periodo VARCHAR(20),
    @Cod_Estudiante INT

AS
BEGIN
    UPDATE Inscripcion
    SET
        Periodo = @Periodo,
        Cod_Estudiante = @Cod_Estudiante
        
    WHERE Cod_Inscripcion = @Cod_Inscripcion
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarRol]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update Rol
CREATE PROCEDURE [dbo].[ActualizarRol] (@Id_Rol INT, @Rol VARCHAR(50))
AS
BEGIN
  UPDATE Rol SET Rol = @Rol WHERE Id_Rol = @Id_Rol;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUsuario]
    @Id_Usuario INT,
    @username VARCHAR(20),
    @email VARCHAR(50),
    @Id_Rol INT,
    @Estado varchar(10),
    @PasswordHash nvarchar(255) = NULL -- opcional
AS
BEGIN
    SET NOCOUNT ON;

    -- Si se quiere actualizar la contraseña
    IF @PasswordHash IS NOT NULL
    BEGIN
        UPDATE Usuario
        SET username = @username,
            email = @email,
            Id_Rol = @Id_Rol,
           Estado = @Estado,
            PasswordHash = @PasswordHash
        WHERE Id_Usuario = @Id_Usuario
    END
    ELSE
    BEGIN
        -- Si NO se cambia contraseña
        UPDATE Usuario
        SET username = @username,
            email = @email,
            Id_Rol = @Id_Rol,
            Estado = @Estado
        WHERE Id_Usuario = @Id_Usuario
    END
END
GO
/****** Object:  StoredProcedure [dbo].[BucarRolPorNombre]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[BucarRolPorNombre]
(
    @Buscar varchar(50)
)
as
 begin
   select * from Rol
   where Rol like @Buscar + '%'
  end
GO
/****** Object:  StoredProcedure [dbo].[CrearAsignatura]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearAsignatura]
  @NombreAsignatura VARCHAR(20),
  @Estado VARCHAR(20),
  @Cod_Carrera INT
AS
BEGIN
    INSERT INTO Asignatura(NombreAsignatura,Estado, Cod_Carrera)
    VALUES (@NombreAsignatura, @Estado, @Cod_Carrera)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearAsistencia]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearAsistencia]
    @Fecha DATETIME,
    @Presente VARCHAR(5),
    @Cod_Grupo INT,
    @Cod_Estudiante int
AS
BEGIN
    INSERT INTO Asistencia
    VALUES (GETDATE(), @Presente, @Cod_Grupo, @Cod_Estudiante)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearCalificacion]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearCalificacion]
    @NotaFinal DECIMAL,
    @Cod_Grupo INT,
    @Cod_Estudiante Int
AS
BEGIN
    INSERT INTO Calificacion
    VALUES (@NotaFinal, @Cod_Grupo, @Cod_Estudiante)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearCarrera]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearCarrera]
  @NombreCarrera VARCHAR(20),
    @Estado VARCHAR(20),
    @Cod_Facultad INT
AS
BEGIN
    INSERT INTO Carrera (NombreCarrera, Estado, Cod_Facultad)
    VALUES (@NombreCarrera, @Estado, @Cod_Facultad)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearDocente]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearDocente]
    @Nombre VARCHAR(20),
    @Apellido VARCHAR(20),
    @Edad INT,
    @Direccion VARCHAR(50),
    @Estado VARCHAR(20),
    @Id_Usuario INT
AS
BEGIN
    INSERT INTO Docente
    VALUES (@Nombre, @Apellido, @Edad, @Direccion,@Estado, @Id_Usuario)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearEstudiante]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CrearEstudiante]
    @Matricula INT,
    @Nombre VARCHAR(20),
    @Apellido VARCHAR(20),
    @Edad INT,
    @Direccion VARCHAR(50),
    @Estado VARCHAR(20),
    @Id_Usuario INT,
    @Cod_Carrera INT,
    @Cod_Modalidad INT
AS
BEGIN
    INSERT INTO Estudiante
    VALUES (
        @Matricula,
        @Nombre,
        @Apellido,
        @Edad,
        @Direccion,
        @Estado,
        @Id_Usuario,
        @Cod_Carrera,
        @Cod_Modalidad
    )
END
GO
/****** Object:  StoredProcedure [dbo].[CrearFacultad]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearFacultad]
    @Nombre VARCHAR(20),
    @Estado VARCHAR(20)
AS
BEGIN
    INSERT INTO Facultad (Nombre, Estado)
    VALUES (@Nombre,@Estado)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearGrupo]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CrearGrupo]
    
    @Cod_Docente INT,
    @Cupo INT,
    @Estado VARCHAR(20),
    @CodigoGrupo INT

AS
BEGIN
    INSERT INTO Grupo
    VALUES (@Cod_Docente, @Cupo,@Estado, @CodigoGrupo)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearInscripcion]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearInscripcion]
    @Periodo VARCHAR(20),
    @Fecha_Creacion datetime,
    @Cod_Estudiante INT
    
AS
BEGIN
    INSERT INTO Inscripcion
    VALUES (@Periodo,GETDATE(), @Cod_Estudiante)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearInscripcionDetalle]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearInscripcionDetalle]
    @Cod_Inscripcion INT,
    @Cod_Asignatura INT,
    @Cod_Grupo int
AS
BEGIN
    INSERT INTO InscripcionDetalle (Cod_Inscripcion, Cod_Asignatura, Cod_Grupo)
    VALUES (@Cod_Inscripcion, @Cod_Asignatura, @Cod_Grupo);
END
GO
/****** Object:  StoredProcedure [dbo].[CrearModalidad]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearModalidad]
    @Estado VARCHAR(20),
    @Modalidad VARCHAR(20)
AS
BEGIN
    INSERT INTO Modalidad (Estado, Modalidad)
    VALUES (@Estado, @Modalidad)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearRol]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert Rol
Create PROCEDURE [dbo].[CrearRol] (@Estado Varchar(50), @Rol VARCHAR(50))
AS
BEGIN
  INSERT INTO Rol(Estado, Rol) VALUES (@Estado, @Rol);
  SELECT SCOPE_IDENTITY() AS NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuario]
    @username VARCHAR(20),
    @email VARCHAR(20),
    @Id_Rol INT,
    
    @Estado varchar(10),
    @PasswordHash nvarchar (255)
AS
BEGIN
SET NOCOUNT ON;

   

    INSERT INTO Usuario (username, email, Id_Rol, Estado,PasswordHash)
    VALUES (@username,  @email, @Id_Rol,@Estado,@PasswordHash)
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarAsignatura]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarAsignatura]
    @Cod_Asignatura INT
AS
BEGIN
    update Asignatura
    set
        Estado = 'Inactivo'
    WHERE Cod_Asignatura = @Cod_Asignatura
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarAsistencia]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarAsistencia]
    @Cod_Asistencia INT
AS
BEGIN
    DELETE FROM Asistencia
    WHERE Cod_Asistencia = @Cod_Asistencia
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCalificacion]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarCalificacion]
    @Cod_Calificaion INT
AS
BEGIN
    DELETE FROM Calificacion
    WHERE Cod_Calificaion = @Cod_Calificaion
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCarrera]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarCarrera]
    @Cod_Carrera INT
AS
BEGIN
    update Carrera
    set
        Estado = 'Inactivo'
    
    Where Cod_Carrera = @Cod_Carrera

END
GO
/****** Object:  StoredProcedure [dbo].[EliminarDocente]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarDocente]
    @Cod_Docente INT
AS
BEGIN
    update Docente
    set
        Estado = 'Inactivo'
    WHERE Cod_Docente = @Cod_Docente
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarEstudiante]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarEstudiante]
    @Cod_Estudiante INT
AS
BEGIN
    update Estudiante
    set
        Estado = 'Inactivo'
    WHERE Cod_Estudiante = @Cod_Estudiante
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarGrupo]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarGrupo]
    @Cod_Grupo INT
AS
BEGIN
    update Grupo
    set
        Estado = 'Inactivo'
    WHERE Cod_Grupo = @Cod_Grupo
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarInscripcion]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarInscripcion]
    @Cod_Inscripcion INT
AS
BEGIN
    DELETE FROM Inscripcion
    WHERE Cod_Inscripcion = @Cod_Inscripcion
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarInscripcionDetalle]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarInscripcionDetalle]
    @Cod_InscripcionDetalle INT
AS
BEGIN
    DELETE FROM InscripcionDetalle
    WHERE Cod_InscripcionDetalle = @Cod_InscripcionDetalle
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarModalidad]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarModalidad]
    @Cod_Modalidad INT
AS
BEGIN
    update Modalidad
    set
        Estado = 'Inactivo'
    WHERE Cod_Modalidad = @Cod_Modalidad
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarRol]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Delete Rol (con chequeo de FK)
CREATE PROCEDURE [dbo].[EliminarRol] (@Id_Rol INT)
AS
BEGIN
  IF EXISTS(SELECT 1 FROM Usuario WHERE Id_Rol = @Id_Rol)
    RAISERROR('No se puede eliminar rol asociado a usuarios.', 16, 1);
  ELSE
    update Rol
    set
        Estado = 'Inactivo' WHERE Id_Rol = @Id_Rol;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarspFacultad]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarspFacultad]
    @Cod_Facultad INT
AS
BEGIN
    update Facultad
    set
        Estado = 'Inactivo'
    WHERE Cod_Facultad = @Cod_Facultad
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUsuario]
    @Id_Usuario INT
    
AS
BEGIN
    if exists (SELECT 1 
    FROM Usuario
    WHERE Id_Usuario = @Id_Usuario
    AND Id_Rol = 1)
    throw 50001,'No se puede eliminar a un admin',1

    UPDATE Usuario
    set Estado = 'Inactivo'
    WHERE Id_Usuario = @Id_Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[EstudianteHistorial]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EstudianteHistorial]
  @Cod_Estudiante INT
AS
BEGIN
  SET NOCOUNT ON;
   SELECT
    e.Cod_Estudiante,
    e.Matricula,
    e.Nombre + ' ' + e.Apellido AS NombreEstudiante,
    i.Perido AS Periodo,
    c.Cod_Clase,
    c.NombreClase,
    g.Cod_Grupo,
    cal.NotaFinal
  FROM Estudiante e
  LEFT JOIN Inscripcion i ON i.Cod_Estudiante = e.Cod_Estudiante
  LEFT JOIN Clase c ON c.Cod_Clase = i.Cod_Clase
  LEFT JOIN Grupo g ON g.Cod_Inscripcion = i.Cod_Inscripcion
  LEFT JOIN Calificacion cal ON cal.Cod_Grupo = g.Cod_Grupo
  WHERE e.Cod_Estudiante = @Cod_Estudiante
  ORDER BY i.Perido DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarAsignatura]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarAsignatura]
AS
BEGIN
	select 
    *
	from Asignatura
    where Estado = 'Activo'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarAsignaturaPorNombre]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarAsignaturaPorNombre]
    @NombreAsignatura VARCHAR(20)
AS
BEGIN
    SELECT 
    *
    FROM Asignatura
    WHERE NombreAsignatura LIKE '%' + @NombreAsignatura + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarAsistencia]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarAsistencia]
AS
BEGIN
    SELECT
        *
    FROM Asistencia
END
GO
/****** Object:  StoredProcedure [dbo].[ListarCalificacion]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarCalificacion]
AS
BEGIN
    SELECT
        *
    FROM Calificacion
END
GO
/****** Object:  StoredProcedure [dbo].[ListarCarrera]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarCarrera]
AS
BEGIN
	select 
	  Cod_Carrera,
       NombreCarrera,
        Estado,
        Cod_Facultad
	from Carrera
    where Estado = 'Activo'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarCarreraPorNombre]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarCarreraPorNombre]
    @NombreCarrera VARCHAR(20)
AS
BEGIN
    SELECT 
    Cod_Carrera,
  NombreCarrera,
        Estado,
        Cod_Facultad
    FROM Carrera
    WHERE NombreCarrera LIKE '%' + @NombreCarrera + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarDocente]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarDocente]
AS
BEGIN
    SELECT
        *
    FROM Docente
    where Estado = 'Activo'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarDocentePorNombre]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarDocentePorNombre]
    @Nombre VARCHAR(20)
AS
BEGIN
    SELECT *
    FROM Docente
    WHERE Nombre LIKE '%' + @Nombre + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarEstudiante]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarEstudiante]
AS
BEGIN
    SELECT
        *
    FROM Estudiante
    where Estado = 'Activo'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarEstudiantePorNombre]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarEstudiantePorNombre]
    @Nombre VARCHAR(20)
AS
BEGIN
    SELECT
        Cod_Estudiante,
        Matricula,
        Nombre,
        Apellido,
        Edad,
        Direccion,
        Estado,
        Id_Usuario,
        Cod_Carrera,
        Cod_Modalidad
    FROM Estudiante
    WHERE Nombre LIKE '%' + @Nombre + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarFacultad]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarFacultad]
AS
BEGIN
    SELECT *
    FROM Facultad
    where Estado = 'Activo'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarFacultad_PorNombre]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarFacultad_PorNombre]
    @Nombre VARCHAR(20)
AS
BEGIN
    SELECT Cod_Facultad, Nombre
    FROM Facultad
    WHERE Nombre LIKE '%' + @Nombre + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarGrupo]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ListarGrupo]
AS
BEGIN
    SELECT
       *
    FROM Grupo
    where Estado = 'Activo'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarInscripcion]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarInscripcion]
AS
BEGIN
    SELECT
       *
    FROM Inscripcion
END
GO
/****** Object:  StoredProcedure [dbo].[ListarInscripcionDetalle]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ListarInscripcionDetalle]
as
 begin
  select *  from InscripcionDetalle
 end
GO
/****** Object:  StoredProcedure [dbo].[ListarModalidad]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarModalidad]
AS
BEGIN
    SELECT *
    FROM Modalidad
    where Estado = 'Activo'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarModalidadPorNombre]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarModalidadPorNombre]
    @Modalidad VARCHAR(20)
AS
BEGIN
    SELECT Cod_Modalidad, Modalidad
    FROM Modalidad
    WHERE Modalidad LIKE '%' + @Modalidad + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[ListarRol]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ListarRol]
as
 begin
  begin try
   select *  from Rol where Estado = 'Activo'
  end try
  begin catch
   print'El procedimiento de almacenado no se pudo ejecutar'
  end catch
 end
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuario]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ListarUsuario]
AS
BEGIN
	select 
	*
	from Usuario as u
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarioPorId]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ListarUsuarioPorId]
@Id int
as
begin
select * from usuario where Id_Usuario = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[MarcarAsistencia]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MarcarAsistencia]
  @Cod_Grupo INT,
  @Fecha DATETIME,
  @Presente VARCHAR(5) -- 'SI'/'NO' o '1'/'0' según tu convención
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    BEGIN TRANSACTION;

    IF NOT EXISTS(SELECT 1 FROM Grupo WHERE Cod_Grupo = @Cod_Grupo)
      RAISERROR('Grupo no existe.', 16, 1);

    INSERT INTO Asistencia (Fecha, Presente, Cod_Grupo)
    VALUES (@Fecha, @Presente, @Cod_Grupo);

    COMMIT TRANSACTION;
    SELECT 'Asistencia registrada' AS Message;
  END TRY
  BEGIN CATCH
    ROLLBACK TRANSACTION;
    SELECT ERROR_MESSAGE() AS ErrorMessage;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarCalificacion]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarCalificacion]
  @Cod_Grupo INT,
  @NotaFinal DECIMAL(5,2)
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    BEGIN TRANSACTION;

    IF NOT EXISTS(SELECT 1 FROM Grupo WHERE Cod_Grupo = @Cod_Grupo)
      RAISERROR('Grupo no existe.', 16, 1);

    IF EXISTS(SELECT 1 FROM Calificacion WHERE Cod_Grupo = @Cod_Grupo)
    BEGIN
      UPDATE Calificacion
      SET NotaFinal = @NotaFinal
      WHERE Cod_Grupo = @Cod_Grupo;
      SELECT 'Calificación actualizada' AS Message;
    END
    ELSE
    BEGIN
      INSERT INTO Calificacion (NotaFinal, Cod_Grupo)
      VALUES (@NotaFinal, @Cod_Grupo);
      SELECT 'Calificación insertada' AS Message;
    END

    COMMIT TRANSACTION;
  END TRY
  BEGIN CATCH
    ROLLBACK TRANSACTION;
    SELECT ERROR_MESSAGE() AS ErrorMessage;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 15/3/2026 19:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Login]
    @Username VARCHAR(50)
AS
BEGIN
    SELECT u.Id_Usuario, u.Username, u.PasswordHash, r.Rol AS Rol
    FROM Usuario u
    INNER JOIN Rol r ON u.Id_Rol = r.Id_Rol
    WHERE u.Username = @Username and u.Estado = 'Activo'
END
GO
USE [master]
GO
